@import "./variables.scss";
@import "./mixin.scss";
@import "./transition.scss";
@import "./element-ui.scss";
@import "./sidebar.scss";
@import "./btn.scss";

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// 清除input[type=number]上下箭头
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  //padding: 10px;
  margin: 10px;
  overflow: auto;
  height: calc(100vh - 70px);
  //background: #fff;
  border-radius: 3px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
.border_bottom{
  border-bottom: 10px solid rgb(240,242,245);
}
.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(
    90deg,
    rgba(32, 182, 249, 1) 0%,
    rgba(32, 182, 249, 1) 0%,
    rgba(33, 120, 241, 1) 100%,
    rgba(33, 120, 241, 1) 100%
  );

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.fr {
  float: right;
}

.ml_10 {
  margin-left: 10px;
}

// .search_box {
//   padding: 10px;
//   display: flex;
// }

// .search_form .el-form-item {
//   margin-right: 10px !important;
// }

// .search_form {
//   margin-top: 10px;

//   &/deep/ .el-form-item__label {
//     text-align: left;
//   }

//   &/deep/ .el-form-item--mini.el-form-item {
//     margin-bottom: 0px;
//   }
// }

.search_box {
  //border-color: rgb(233, 233, 233);
  background: #ffffff;
  padding: 0px 15px;
  overflow: hidden;
  border-radius: 3px;

  .el-form-item {
    // float: left;
    margin: 10px 10px 10px 0;
  }
}
.container {
  background: #ffffff;
  padding: 10px;
  border-radius: 5px;
}
.mt_20 {
  margin-top: 20px;
}

.flex {
  display: flex;
  align-items: center;
}
.flex_item{
  flex: 1;
}
.flex_bd{
  flex: 1;
}

.ml_20 {
  margin-left: 20px;
}

.ml_10 {
  margin-left: 10px !important;
}

.mb_30 {
  margin-bottom: 30px;
}

.p_10 {
  padding: 10px;
}

.bg_white {
  background: #fff;
}

.red01 {
  color: #ff0808;
}

.green01 {
  color: #5ED76C;
}

.gray01{
  color: #909399;
}
.blue01{
  color: $siderText;
}
.f12{
  font-size: 12px;
}
.f20{
  font-size: 20px;
}
.f26{
  font-size: 26px;
}
.f76{
  font-size: 76px;
}
.page_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.mt_10 {
  margin-top: 10px;
}

.mb_10 {
  margin-bottom: 10px;
}

// 图片盒子
.my_imgBox {
  width: 148px;
  height: 148px;
  border: 1px dashed #c0ccda;
  background-color: #fbfdff;
  box-sizing: border-box;
  cursor: pointer;
  line-height: 146px;
  vertical-align: top;
  border-radius: 2px;
}

.my_img {
  width: 146px;
  height: 146px;
  display: flex;
  justify-content: center;
  align-items: center;

  .el-icon-picture-outline::before {
    font-size: 4rem;
    color: #c0ccda;
  }
}

.my_imgBox:hover {
  border: 1px dashed #1890ff;

  .el-icon-picture-outline::before {
    color: #1890ff;
  }
}

.text-left {
  text-align: left;
}

.documentList {
  .el-form-item--medium .el-form-item__content {
    display: flex;
  }

  .picBox {
    margin-right: 20px;
    display: flex;
    width: 150px;
    // flex-direction: column;
    // position: relative;

    .el-icon-error {
      position: absolute;
      right: -10px;
      top: -10px;
      font-size: 28px;
      cursor: pointer;
      z-index: 999;
    }
  }
}

// 预团购标签
.label_box:before {
  content: "预团购";
  margin-right: 5px;
  color: #ff3b30;
  background-color: #ffebea;
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 4px;
 }
// 图片上传去除动效
.el-upload-list__item {
  transition: none !important;
}
.dialog-footer{
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  padding: 20px 0;
  &:after{
    content: " ";
    position: absolute;
    left: -20px;
    top: 0;
    right: -50px;
    height: 1px;
    border-top: 1px solid rgba(0,0,0,0.3);
    color: rgba(0,0,0,0.3);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    z-index: 2;
  }
}
.del_confirm{
  .el-message-box__title{
    font-weight: bold;
    font-size: 16px;
    position: relative;
    padding-left: 35px;
    &:before{
      position: absolute;
      left: 0;
      top: -5px;
      content: "\e7a3";
      color: #ffba00;
      font-family: 'element-icons' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      vertical-align: baseline;
      display: inline-block;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 24px;
      margin-right: 10px;
    }
  }
}

.f32{
  font-size: 32px;
}

.f16{
  font-size: 16px;
}
.f18{
  font-size: 18px;
}
.yellow01{
  color: #F2A249;
}
.yellow02{
  color: #FF8F1F;
}
ul,ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}
//表格中头像图片的大小
.header_img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
.head_img_detail{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.border_bottom1{
 position: relative;
  &::after{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    z-index: 2;
  }
}

.person_tag{
  color: #FF8F1F;
  font-size: 12px;
  background: #FDEAC9;
  padding: 3px 5px;
  border-radius: 3px;
  margin-right: 3px;
}
.bold{
  font-weight: bold;
}

.statistics_title{
  //border-left: 10px solid #1880FF;
  font-size: 12px;
  line-height: 1.5;
  padding-left: 10px;
  position: relative;
  &::before{
    content: " ";
    position: absolute;
    left: 0px;
    bottom: 2px;
    top: 2px;
    width: 6px;
    border-left: 6px solid #1880FF;
    color: #1880FF;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
    z-index: 2;
  }
}
.detail_title{
  font-size: 14px;
  color: #3D3D3D;
  line-height: 2.3;
  background: #F4F7FC;
  padding-left: 10px;
  position: relative;
  &::after{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 3px;
    top: 3px;
    width: 7px;
    border-left: 7px solid #3370FF;
    color: #3370FF;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
    z-index: 2;
  }
}
.phone_icon{
  width: 15px;
}
.orange01{
  color: #F2A249;
}
.green01{
  color: #00D6B9;
}
.green02{
  color: #54C151;
}
.red01{
  color: #FF1313;
}
.red02{
  color: #D65A3D;
}
.blue02{
  color:#047AE2;
}
.visibility{
  visibility: hidden;
}
.list_img{
  display: block;
  /*width: 30px;*/
  height: 30px;
  img{
    /*width: 100%;*/
    height: 100%;
  }
}
.sex_icon{
  width: 16px;
  height: 16px;
}
.info_content{
  line-height: 2;
  margin: 10px 10px 0;
  .info_content_line{
    font-size: 14px;
    padding: 0 10px;
    line-height: 2.3;
  }
  .info_txt{
    color: #676C72;
    margin-right: 10px;
  }
}
.over_one{
  //display: inline-block;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow:ellipsis;
}
//.over_two{
//  display: inline-block;
//  white-space: nowrap;
//  width: 100%;
//  overflow: hidden;
//  text-overflow:ellipsis;
//}
